body {
    position: relative;
}

#contacto {
    padding-top: 100px;
}

article {
    padding-top: 40px;
}

body {
    background-color: #f5e7d3;
}

header {
    background-color: white;
    border: 1px solid #748a6a;
}

a.navbar-brand {
    color: #748a6a;
}

h1,
h2 {
    color: #748a6a;
    padding-top: 50px;
}

div.logo {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}