.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


/*
Paleta de colores:
Mas oscuros arriba mas claros abajo
  #fb7452 	(251,116,82)
	#fdd35f 	(253,211,95)
	#b8c791 	(184,199,145)
	#55a576 	(85,165,118)
	#4e635a 	(78,99,90)

*/
.ccnaranja {
  background-color:	#fb7452;
}

.ccnaranja a {
  color:black;
}

.ccverde {
  background-color:	#b8c791;
}
